@import "normalize.css" ;

@font-face {
  font-family: 'The Perfect Christmas';
  src: url('font/the_perfect_christmas/The Perfect Christmas.ttf')  format('truetype');
}

@font-face {
  font-family: 'Fifa';
  src: url('font/fifawelcome1.3.ttf')  format('truetype');
}

@font-face {
  font-family: 'Football';
  src: url('font/SOCCER.TTF')  format('truetype');
}

@font-face {
  font-family: 'Nom';
  src: url('font/no_name_37_Light.otf')  format('truetype');
}

@font-face {
  font-family: 'Liste De Joueurs';
  src: url('font/Sunday Sport.ttf')  format('truetype');
}

@font-face {
  font-family: 'Waving at Christmas';
  src: url('font/waving_at_christmas/Waving at Christmas.ttf')  format('truetype');
}

@font-face {
  font-family: 'Cream Cake';
  src: url('font/cream_cake/Cream Cake.ttf')  format('truetype');
}

@font-face {
  font-family: 'Hello Christmas Icon';
  src: url('font/hello_christmas_icons/Hello-Christmas-Icon-trial.ttf')  format('truetype');
}

:root {
  --theme-rouge: red;
  --theme-blanc-transparent: rgba(255,255,255,0.3);
  --theme-bleu-pale: rgb(15, 23, 24);
  --theme-bleu-fonce: rgba(63,155,191,1);
  --theme-vert: #408450;
  --theme-blanc: white;
  --theme-noir: black;

  --theme-bordure-rondeur: 0.5rem;
}

html {
  font-family:'Fifa', sans-serif;
  font-size:48px;
}

#liste-joueur {
  list-style-type:none;
}

.liste-joueur-item {
  color:var(--theme-blanc);
  text-transform : capitalize;
  text-decoration:none;
}

#liste-joueur li {
  position:relative;
  display:block;
  margin-bottom:0.25rem;
  background-color:var(--theme-blanc-transparent);
  border-radius:var(--theme-bordure-rondeur);
  padding:0.25rem;
  padding-left:1.50rem;
  box-shadow: 2px 2px var(--theme-rouge);
}

#liste-joueur li::before {
   content:"a";
   text-align:center;
   color:var(--theme-blanc);
   font-size:1.25rem;
   position:absolute;
   top:0.1rem;
   left:0.25rem;
   height:1rem;
   width:1rem;

   font-family:'Football', sans-serif;


}

fieldset {
  color:var(--theme-blanc);
  border-color: var(--theme-rouge);
  border-radius:var(--theme-bordure-rondeur);
}

input[type="text"],
textarea {
  color: white;
  display:block;
  width:100%;
  border:none;
  background-color:var(--theme-blanc-transparent);
  border-radius:var(--theme-bordure-rondeur);
}

#page-chargement-application{
  position:relative;
  height:100vh;
  background-image:url(illustration/pngwing.com.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:bottom center;
  background-attachment:fixed;

  text-align:center;
  font-size:2rem;
  font-family:'Liste De Joueurs', sans-serif;
  font-weight:normal;
  line-height:1.8rem;

  padding:10%;
  color:var(--theme-blanc);
  text-shadow: 2px 2px var(--theme-noir);
  animation: pulse 1.5s infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    background-color:var(--theme-bleu-fonce);
  }
  100% {
    background-color:var(--theme-bleu-pale);
  }
}



.page {
  position:relative;
  background-color:var(--theme-bleu-pale);
  padding:5%;
  min-height: 100vh;
  box-sizing: border-box;

  background-image:url(illustration/footballeur.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:right bottom;
  background-attachment:fixed;
  background-size: 50%;
  color:var(--theme-blanc);
}


.page h1{
  text-align:center;
  font-size:2rem;
  font-family:'Liste De Joueurs', sans-serif;
  font-weight:normal;
  line-height:1.8rem;
  color:var(--theme-vert);
  text-shadow: 2px 2px var(--theme-blanc);

}

.page h2,
.page p {
  background-color:var(--theme-blanc-transparent);
  border:0px transparent solid;
  border-radius:var(--theme-bordure-rondeur);
  padding:0.25rem;
}


.action{
  position:relative;
  display:block;
  text-decoration: none;
  font-family:sans-serif;
  background-color:#fd9f44;
  color:var(--theme-blanc);
  border:0px transparent solid;
  border-radius:var(--theme-bordure-rondeur);
  padding:0.25rem;
  font-family:'Nom', sans-serif;
  font-size:1rem;
  text-align:center;
  width:50%;
  margin:0 auto;
  box-sizing: border-box;
  margin-top:0.25rem;
  margin-bottom:0.25rem;
  box-shadow: 2px 2px var(--theme-blanc);
}

.action:active {
  border:0px transparent solid;
}

.img-modifier{
  width: 2.5vw;
}
